<nav class="nav flex-column justify-content-between header vh-100   pt-40 pb-32 bg-light">
    <div>
        <a href="#" class="nav-link text-dark shake-crazy ps-32"><img src="/assets/images/logo-ANSWER.png" alt="logo"></a>
        <a href="#" class="nav-link text-dark fw-bold nav--hover ps-32"><span class="material-icons me-3 fs-18 align-middle ">
                assessment
            </span><span class="align-middle">Dashboard</span></a>
        <a href="#" class="nav-link text-dark fw-bold ps-32 nav--hover"><span class="material-icons me-3 fs-18 align-middle ">
                question_answer
            </span><span class="align-middle">Question</span></a>
        <a href="#" class="nav-link text-dark fw-bold ps-32 nav--hover"><span class="material-icons me-3 fs-18 align-middle ">
                assignment
            </span><span class="align-middle">Assignment</span></a>
        <a href="#" class="nav-link text-dark fw-bold ps-32 nav--hover"><span class="material-icons me-3 fs-18 align-middle ">
                video_library
            </span><span class="align-middle">Course</span></a>
        <a href="#" class="nav-link text-dark fw-bold ps-32 nav--hover"><span class="material-icons me-3 fs-18 align-middle ">
                supervisor_account
            </span><span class="align-middle">Admin</span></a>
        <a href="#" class="nav-link text-dark fw-bold ps-32 nav--hover"><span class="material-icons me-3 fs-18 align-middle ">
                settings
            </span><span class="align-middle ">Settings</span></a>
    </div>


    <div class="d-flex align-center ps-32 ">
        <img src="/assets/images/photo-1514794749374-fb67509dbb7f.avif" alt="andychen"
            style="width: 40px; height: 40px;" class="rounded-circle me-3">
            <div>
<h2 class="text-dark fw-bold fs-6 mb-1">Andy Chen</h2>
<a href="mailto:andy0401@mail.com" class="text-decoration-none gray-600">andy0401@mail.com</a>
            </div>
     
    </div>
</nav>